* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

nav {
  background-color: rgb(18, 6, 37);
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: solid;
}

.container {
background-color: cadetblue;
background-size: cover;
width: 100%;
margin: auto;
height: 100vh;
padding: 4vmax 8vmax;
box-sizing: border-box;
}

.container > form { 
display: flex;
flex-direction: column;
}
.container > h1 {
text-align: center;
margin: 30px;
font-size: 2.5rem;
}
input,
textarea,
button {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.5rem;
}
button {
  border: none;
  cursor: pointer;
  background-color:  rgb(37, 37, 37);
  color: whitesmoke;
}

.task {
display: flex;
align-items: center;
background-color: white;
padding: 15px;
border-radius: 5px;
margin: 10px;
}
.task > div{
  width: 100%;
}
.task span {
color: black;
}
.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task button:hover{
  background-color: red;
}
